html, body {
    padding: 0;
    margin: 0;
    /*   */
    font-family: Arial, Helvetica, sans-serif;
    background: #eeedea;
}

* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
a {
    margin: 0;
    text-decoration: underline;
}
hr {
    margin: 25px auto;
    border: none;
}
.card-reusable {
    display: block;
    position: relative;
    margin: auto;
    width: 50%;
    padding: 50px;
    background: white;
    max-width: 500px;
}

select:required:invalid {
    color: gray;
}
.selected-drop {
    display: none;
}
  option[value=""][disabled] {
    display: none;
}
  option {
    color: black;
}

.a {
    display: block;
    text-align: center;
    text-transform: uppercase;
    color: #2d2d2d;
    font-weight: 900;
    letter-spacing: 1px;
    font-size: 12px;
    margin: 15px 0 0 0;
    text-decoration: none;
}

.borderbottom{ border-bottom: 0.1rem solid #c3c3c3; }

.lato { font-family: 'Lato', sans-serif; }

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.zindex0 { z-index: 0; }
.zindex1 { z-index: 1; }
.zindex2 { z-index: 2; }

.downer, .upper {
    position: absolute;
    left: 50%;
    text-align: center;
    transform: translateX(-50%);
    font-size: 25px;}
    .downer { bottom: 15px;} 
    .upper { top: 15px;
}
.auth-error {
    letter-spacing: 1px;
    color: white;
    font-size: 12px;
    font-weight: 100;
    background: #c42828;
    border-radius: 15px;
    padding: 5px;
    text-transform: uppercase;
    text-align: center;
}
.table {
    position: relative;
    display: block;
    background: white;
    padding: 10px 0 15px 0;
    width: 100%;}
    .rows {
        /*display: block;*/
        display: flex;
        align-items: center;
        position: relative;
        color: #2d2d2d;
        padding: 8px 30px;
        border-radius: 0 !important;
        background: #fff;
        font-size: 17px;
        font-weight: 800;
        letter-spacing: 0.01rem; }
        .rows > * {
            float: left;
            -ms-flex: 50%; /* IE10 */
            flex: 50%;
            max-width: 50%;
            min-width: 50%;
        }
        .rows:nth-child(odd) {
            background: #ececec;}
            .rows > p {
                margin: 0;
                overflow: hidden;
            }
            .rows > *:hover, .rows:hover {
                transition: 0.5s;
                cursor: pointer;
            }
        .rows:hover {
            background: rgb(228, 227, 227); }
        .rows p:hover{ cursor: text; }
    .rows::after {
        content: "";
        display: table;
        clear: both;
    }
.align-left { text-align: left; }
.align-center { text-align: center; }
.float-left { float: left; }
.float-right { float: right; }
.c-white { color: #fff !important; }
.c-black { color: #000 !important; }
.b-green { background: #1db64b;}
.b-orange { background: #ffb932; }
.b-red { background: #c42828; }
.no-margin { margin: 5px 0; }
.italic { font-style: italic; }
.child-float-right::after, .child-float-left::after {
    content: "";
    display: table;
    clear: both;
}
.child-float-right > *, .child-float-left > * { margin: 0 15px;}
.child-float-right > * { float: right; }
.child-float-left > * { float: left; }
.navbar {
    position: fixed;
    display: block;
    padding: 15px 10%;
    background: #2d2d2d;
    color: white;
    z-index: 50;
    width: 100%;}
    .navbar::after {
        content: "";
        display: table;
        clear: both;
    }
    .navbar > a {
        text-transform: uppercase;
        letter-spacing: 1px;
        font-size: 14px;
        color: white;
        font-weight: 300;
        text-decoration: none;
        float: left;
        transition: 0.5s;
        margin-right: 15px;}
        .navbar > a:hover {
            transition: 0.5s;
            cursor: pointer;
        }
.content-wrapper {
    display: block;
    position: relative;
    padding: 100px 0;
}
.container {
    position: relative;
    display: block;
    width: 80%;
    max-width: 1100px;
    margin: 0 auto;
}
.mini-title {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 800;
    font-size: 11px;
} 
a > button {
    min-width: 80%;
}
.button {
    position: relative;
    padding: 15px 25px;
    color: white;
    border: none;
    outline: 0;
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 11px;
    text-transform: uppercase;
    text-decoration: none;
    margin: 1px;
}
.button:hover {
    transition: 0.5s;
    cursor: pointer;
}
.search-form {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
}
.search-l, .search-r {
    
    padding: 10px 15px;
    border: none;
    border-radius: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.search-l {
    margin: 0;
    -ms-flex: 80%; /* IE10 */
    flex: 80%;
    max-width: 80%;
    border: 1px solid #eeedea;
    border-right: 0;
}
.search-r {
    margin: 0;
    -ms-flex: 20%; /* IE10 */
    flex: 20%;
    max-width: 20%;
    border: 1px solid #eeedea;
    border-left: 0;
}

.bordered { border: 1px solid #2d2d2d; }
.rounded { border-radius: 25px; }
.row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    padding: 0 4px;
}
.title {
    text-align: center;
    font-size: 20px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 900;
    margin: 0;
    padding: 20px;
}
.form {
    position: relative;
    display: block;
    background: #fff;
    width: 100%;
    max-width: 600px;
    margin: auto;
    padding: 50px;
    border-radius: 2px;
    -webkit-box-shadow: 0px 7px 8px -5px rgba(0,0,0,0.28);
    -moz-box-shadow: 0px 7px 8px -5px rgba(0,0,0,0.28);
    box-shadow: 0px 7px 8px -5px rgba(0,0,0,0.28);}
    input, select{
        display: block;
        width: 80%;
        outline: none;
        margin: 10px auto;
        border: 1px solid #eeedea;
        border-radius: 5px;
        padding: 15px 25px;
        font: 400 13.33px Lato, sans-serif;
        text-transform: capitalize;}
        .margin-left div{ margin-left: 3rem; }
        .color div{ color: #504f4f; }
        .text-none{ text-transform: none; }
        .uppercase{ text-transform: uppercase; }
        .form > div {
            display: block;
            letter-spacing: 1px;
            text-transform: uppercase !important;
            font-weight: 900 !important;
            width: 80%;
            outline: none;
            margin: 10px auto !important;
            padding: 15px 25px;
            font: 400 13.33px Lato, sans-serif;
            text-transform: capitalize;
        }
    #submit {
        text-transform: uppercase;
        letter-spacing: 1px;
        font-weight: 800;
        font-size: 15px;
        cursor: pointer;
    }
    #success-modal {
        position: absolute;
        display: none;
        top: 50%;
        left: 50%;
        width: 80%;
        transform: translate(-50%, -50%);
        max-width: 600px;
        padding: 100px;
        background: rgb(22, 182, 70);}
        #success-modal > p {
            position: relative;
            width: 50%;
            margin: auto;
            text-align: center;
            color: white;
            text-transform: uppercase;
            letter-spacing: 1px;
        }
.popped {
    animation: pop linear 0.3s;
}
.log-in{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;}
    .margintop{ margin-top: -15px; }
  
  /* Create four equal columns that sits next to each other */
  .column {
    -ms-flex: 32%; /* IE10 */
    flex: 32%;
    max-width: 32%;
    padding: 0;
    padding-right: 15px;
  }
  
  .column div {
    margin-top: 15px;
    vertical-align: middle;
    width: 100%;
  }
  
.card {
    display: block;
    position: relative;
    background: white;
    width: 100%;
    padding: 25px;
    text-align: center;
}

a > i{
    font-size: 19px;
    padding: 8px;
    width: 34px;
    color: #e2e2e2; }

    .i-red{ color: #c70000; }
    .i-blue{ color: #0367af; }
    .i-green{ color: #1db64b; }
    a > i:hover{ 
        color: #000;
        background-color: #ccc;
        border-radius: 50%; 
    }


  /* mini-laptop */
@media screen and (max-width: 800px) {
    
}
  /* tablets */

@media screen and (max-width: 769px) {

    .column {
        -ms-flex: 50%;
        flex: 50%;
        max-width: 50%;
    }
}

 /* mobile */
 @media screen and (max-width: 500px) {
    .column {
      -ms-flex: 100%;
      flex: 100%;
      max-width: 100%;
    }
    input, select, .form > div {
        width: 90%;
    }
    .form {
        padding: 15px;
    }
}

@keyframes pop {
    0% {
        -webkit-transform: rotateX(-100deg);
        transform: rotateX(-100deg);
        -webkit-transform-origin: top;
        transform-origin: top;
        opacity: 0;
    }
    100% {
        -webkit-transform: rotateX(0deg);
        transform: rotateX(0deg);
        -webkit-transform-origin: top;
        transform-origin: top;
        opacity: 1;
    }
}